$purple-dark: #2b3445;
$carot-red: #e84748;
$review-cold: #ffc107;
$html-color: #dd4b25;
$css-color: #0b6fb4;
$js-color: #f6d137;

$bs-color: #b311f6;

$sass-color: #c76494;
$ts-color: #2f74c0;
$http-color: #498cc4;

$angular-color: #af2b2d;
$vue-color: #41b883;
$react-color: #61dafb;

$mongoDB-color: #13aa52;
$nodeJs-color: #3f863e;
$npm-color: #c92a29;
$golden-color: #ffd700;
